<footer id="section-footer" class="footer moto-section" data-widget="section" data-container="section" data-moto-sticky="{mode:'smallHeight', direction:'bottom'}">
    <div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-bg-color2_3" data-widget="block" data-spacing="aaaa" style="" data-bg-position="left top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">
                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aama" style="" data-bg-position="left top">
                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-justify-content_center" data-grid-type="sm" data-widget="row" data-spacing="aasa" style="" data-bg-position="left top">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div data-widget-id="wid_1542095147_n9bwx7ef3" class="moto-widget moto-widget-image moto-preset-default moto-align-center_mobile-h moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="image">
                                                        <span class="moto-widget-image-link">
                                                            <img data-src="/../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-logo-icon.png" class="moto-widget-image-picture lazyload" data-id="208" title="" alt="">
                                                        </span>
                                                    </div>


                                                </div>



                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="sasa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_1"><a data-action="page" data-id="1" class="moto-link" href="index.html">Hookah bar</a></p><p class="moto-text_system_1"><a data-action="page" data-id="1" class="moto-link" href="index.html">&amp; lounge</a></p></div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>
                                    </div>



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aama" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13">Hookah Bar &amp; Lounge is the premier lounge in Hollywood where you can chill in a relaxed atmosphere! We use only the highest quality hookah on the market.</p></div>
                                    </div>



                                    <div id="wid_1542095147_iiwkqkpwi" data-widget-id="wid_1542095147_iiwkqkpwi" class="moto-widget moto-widget-social-links-extended moto-preset-2 moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="social_links_extended" data-preset="2">
                                        <ul class="moto-widget-social-links-extended__list">
                                            <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-1">
                                                <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank">
                                                    <span class="moto-widget-social-links-extended__icon fa fa-facebook"></span>
                                                </a>
                                            </li>
                                            <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-2">
                                                <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank">
                                                    <span class="moto-widget-social-links-extended__icon fa fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-3">
                                                <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank">
                                                    <span class="moto-widget-social-links-extended__icon fa fa-youtube"></span>
                                                </a>
                                            </li>
                                            <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-4">
                                                <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank">
                                                    <span class="moto-widget-social-links-extended__icon fa fa-linkedin"></span>
                                                </a>
                                            </li>
                                            <li class="moto-widget-social-links-extended__item moto-widget-social-links-extended__item-5">
                                                <a href="http://demolink.motocms.com/" class="moto-widget-social-links-extended__link" target="_blank">
                                                    <span class="moto-widget-social-links-extended__icon fa fa-google-plus"></span>
                                                </a>
                                            </li>
                                        </ul>
                                        <style type="text/css">
                                        </style>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-8 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">


                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="masa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9"><span class="moto-color5_5">Quick Links</span></p></div>
                                                                    </div>



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><ul><li class="moto-text_system_13"><a href="index.html" data-action="page" data-id="1" class="moto-link">Home</a></li><li class="moto-text_system_13" style="text-align: justify;"><a href="about-us/index.html" data-action="page" data-id="10" class="moto-link">About us</a></li><li class="moto-text_system_13"><a href="menu/index.html" data-action="page" data-id="11" class="moto-link">Menu</a></li><li class="moto-text_system_13"><a href="offers/index.html" data-action="page" data-id="15" class="moto-link">Offers</a></li><li class="moto-text_system_13"><a href="reservation/index.html" data-action="page" data-id="16" class="moto-link">Reservation</a></li><li class="moto-text_system_13"><a href="contact-us/index.html" data-action="page" data-id="17" class="moto-link">Contact us</a></li></ul></div>
                                                                    </div>


                                                                </div>



                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="masa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9"><span class="moto-color5_5">Services</span></p></div>
                                                                    </div>



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><ul><li class="moto-text_system_13"><a href="#" target="_self" data-action="url" class="moto-link">Ultimate Hookah</a></li><li class="moto-text_system_13"><a href="#" target="_self" data-action="url" class="moto-link">Private Party</a></li><li class="moto-text_system_13"><a href="#" target="_self" data-action="url" class="moto-link">DJ Entertainment</a></li><li class="moto-text_system_13"><a href="#" target="_self" data-action="url" class="moto-link">Weeknight Deals</a></li><li class="moto-text_system_13"><a href="#" target="_self" data-action="url" class="moto-link">VIP parties</a></li><li class="moto-text_system_13"><a href="#" target="_self" data-action="url" class="moto-link">Loyalty Program</a></li></ul></div>
                                                                    </div>


                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>



                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="masa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9"><span class="moto-color5_5">Contacts</span></p></div>
                                                    </div>



                                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aasa" style="" data-bg-position="left top">


                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">


                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9" style="text-align: center;"><span class="moto-color5_5"><span class="fa"></span></span></p></div>
                                                                    </div>


                                                                </div>



                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13"><span class="moto-color4_3">Address</span></p><p class="moto-text_system_13"><span class="moto-color5_5">6353 Yucca Street, Los Angeles,<br>CA 90028</span></p></div>
                                                                    </div>


                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aasa" style="" data-bg-position="left top">


                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">


                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9" style="text-align: center;"><span class="moto-color5_5"><span class="fa"></span></span></p></div>
                                                                    </div>


                                                                </div>



                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13"><span class="moto-color4_3">Call us now</span></p><p class="moto-text_system_13"><a href="tel:1234567890" data-action="call" class="moto-link">(123) 345-6789</a></p></div>
                                                                    </div>


                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aasa" style="" data-bg-position="left top">


                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">


                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9" style="text-align: center;"><span class="moto-color5_5"><span class="fa"></span></span></p></div>
                                                                    </div>


                                                                </div>



                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13"><span class="moto-color4_3">Email</span></p><p class="moto-text_system_13"><a href="mailto:youremail@domain.com" data-action="mail" class="moto-link">youremail@domain.com</a></p></div>
                                                                    </div>


                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                                        <div class="container-fluid">
                                                            <div class="row" data-container="container">


                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9" style="text-align: center;"><span class="moto-color5_5"><span class="fa"></span></span></p></div>
                                                                    </div>


                                                                </div>



                                                                <div class="moto-widget moto-widget-row__column moto-cell col-xs-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13"><span class="moto-color4_3">Hours of Operations:</span></p><p class="moto-text_system_13">2 PM to 3 AM Daily</p></div>
                                                                    </div>


                                                                </div>


                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>



                    <div data-widget-id="wid_1542095147_fdkv4oiyj" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                         data-widget="spacer" data-preset="default" data-spacing="saaa" data-visible-on="mobile-v">
                        <div class="moto-widget-spacer-block" style="height:10px"></div>
                    </div>



                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto moto-bg-color2_1" data-grid-type="sm" data-widget="row" data-spacing="sasa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_13">Copyright © 2018 Hookah Bar. <a href="privacy-policy/index.html" data-action="page" data-id="18" class="moto-link">All Rights Reserved</a>.&nbsp;Designed by&nbsp;<a href="https://motocms.com/" target="_self" rel="nofollow" data-action="url" class="moto-link">MotoCMS.com</a></p></div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</footer>
