@{
    ViewBag.Title = "Home Page";
}


    <div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style="" data-bg-position="left top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="lala" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="aass" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_system_6">DJ EVENTS FRIDAY &amp; SATURDAY!</h2></div>
                                    </div>



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="aams" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable">

                                            <p class="moto-text_system_9">We aim to shine a new light on Nightlife in the LA through our incredible ambiance and great music!</p>
                                            <p class="moto-text_system_9">&nbsp;</p>
                                            <p class="moto-text_normal">
                                                <span class="moto-color1_3">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>&nbsp; &nbsp;&nbsp;
                                                <span class="moto-color3_3">Monday 20:00 pm, 20 September 2018</span>
                                            </p>
                                            <p class="moto-text_normal">&nbsp;</p>
                                            <p class="moto-text_normal">
                                                <span class="moto-color1_3"><span class="fa"></span></span>&nbsp; &nbsp;
                                                <span class="moto-color3_3">6353 Yucca St, Los Angeles, CA 90028, USA</span>
                                            </p>
                                        </div>
                                    </div>



                                    <div data-widget-id="wid_1541957075_fy84zx5gb" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small " data-widget="button">
                                        <a href="events/index.html" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">VISIT EVENT</span></a>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="center">


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-content-bg-2.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/11/mt-1616-content-bg-2.jpg" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="center">



                                    <div data-widget-id="wid_1541957075_b9n6bw240" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                                         data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
                                        <div class="moto-widget-spacer-block" style="height:250px"></div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div><div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto moto-bg-color2_3 moto-background-fixed" data-widget="block" data-spacing="lala" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-content-bg-3.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/11/mt-1616-content-bg-3.jpg" data-bg-position="center">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div data-widget-id="wid_1541957077_g506w93fy" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_desktop"
                         data-widget="spacer" data-preset="default" data-spacing="maaa" data-visible-on="desktop">
                        <div class="moto-widget-spacer-block" style="height:10px"></div>
                    </div>



                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_201">ABOUT US</h2></div>
                                    </div>



                                    <div data-widget-id="wid_1541957077_j3q8hqpx9" class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                        <hr class="moto-widget-divider-line" style="max-width:100%;width:30%;">
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>



                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aama" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal"><span class="moto-color5_5">The bar is an ultimate oasis for your early evening and late-night gatherings, established in 2009. A metropolis themed decor rich in warm lighting and an exceptional hookah experience for both the hookah novice and the advanced social expert. The only LA-based hookah lounge to offer outdoor seating and a second-floor loft space!</span></p></div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal"><span class="moto-color5_5">Whether you're looking to relax on a weeknight or celebrate your next big event with the hottest DJ's in the Los Angeles Fridays and Saturdays, you've reached the right place! You must be 18 or older to enter. Weekend dress code is enforced.</span></p></div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-4 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div>


                            </div>
                        </div>
                    </div>



                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div data-widget-id="wid_1541957077_8uwre7d0o" class="moto-widget moto-widget-button moto-preset-2 moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="button">
                                        <a href="about-us/index.html" data-action="page" class="moto-widget-button-link moto-size-large moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">READ MORE ABOUT US</span></a>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>



                    <div data-widget-id="wid_1541957077_bfj092ekq" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto moto-visible-on_desktop"
                         data-widget="spacer" data-preset="default" data-spacing="maaa" data-visible-on="desktop">
                        <div class="moto-widget-spacer-block" style="height:10px"></div>
                    </div>


                </div>
            </div>
        </div>
    </div>


    <div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="" data-bg-position="left top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-medium moto-spacing-bottom-small moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="amsa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_system_6">IN SMOKE WE TRUST!</h2></div>
                                    </div>



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-medium moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="asma" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal">From the moment you walk into our lounge, you will experience the emphasis on high quality. We strive to make you feel like you are a part of our family. A relaxing environment offering flavorful iced hookahs, rich espresso and coffee, delicious teas, chill music, a fun and friendly staff and plenty of comfy couches to relax in. Smoke. Drink. Talk. Study. Lounge with us.</p></div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div id="wid_1541957080_akuqb7nyi" data-widget-id="wid_1541957080_akuqb7nyi" class="moto-widget moto-widget-tile-gallery moto-preset-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto  " data-widget="tile_gallery" data-preset="3">
                                        <div class="moto-widget-tile-gallery__wrapper">
                                            <div class="moto-widget-tile-gallery__items-wrapper" data-moto-init-lightbox-gallery="" data-tile-gallery-justify-height="">
                                                <div class="moto-widget-tile-gallery__item-wrapper">
                                                    <div class="moto-widget-tile-gallery__item" data-moto-lightbox-item="">
                                                        <a href="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-2bg.jpg" data-action="lightbox" class="moto-widget-tile-gallery__item-link moto-link" data-moto-lightbox-link="">
                                                            <img class="moto-widget-tile-gallery__item-image" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-2.jpg" alt="mt-1616-gallery-img-2.jpg" />
                                                        </a>
                                                        <div class="moto-widget-tile-gallery__item-layer">
                                                            <span class="moto-widget-tile-gallery__item-layer-icon fa"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget-tile-gallery__item-wrapper">
                                                    <div class="moto-widget-tile-gallery__item" data-moto-lightbox-item="">
                                                        <a href="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-1bg.jpg" data-action="lightbox" class="moto-widget-tile-gallery__item-link moto-link" data-moto-lightbox-link="">
                                                            <img class="moto-widget-tile-gallery__item-image" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-1.jpg" alt="mt-1616-gallery-img-1.jpg" />
                                                        </a>
                                                        <div class="moto-widget-tile-gallery__item-layer">
                                                            <span class="moto-widget-tile-gallery__item-layer-icon fa"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget-tile-gallery__item-wrapper">
                                                    <div class="moto-widget-tile-gallery__item" data-moto-lightbox-item="">
                                                        <a href="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-3bg.jpg" data-action="lightbox" class="moto-widget-tile-gallery__item-link moto-link" data-moto-lightbox-link="">
                                                            <img class="moto-widget-tile-gallery__item-image" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-3.jpg" alt="mt-1616-gallery-img-3.jpg" />
                                                        </a>
                                                        <div class="moto-widget-tile-gallery__item-layer">
                                                            <span class="moto-widget-tile-gallery__item-layer-icon fa"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget-tile-gallery__item-wrapper">
                                                    <div class="moto-widget-tile-gallery__item" data-moto-lightbox-item="">
                                                        <a href="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-4bg.jpg" data-action="lightbox" class="moto-widget-tile-gallery__item-link moto-link" data-moto-lightbox-link="">
                                                            <img class="moto-widget-tile-gallery__item-image" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-4.jpg" alt="mt-1616-gallery-img-4.jpg" />
                                                        </a>
                                                        <div class="moto-widget-tile-gallery__item-layer">
                                                            <span class="moto-widget-tile-gallery__item-layer-icon fa"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget-tile-gallery__item-wrapper">
                                                    <div class="moto-widget-tile-gallery__item" data-moto-lightbox-item="">
                                                        <a href="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-5bg.jpg" data-action="lightbox" class="moto-widget-tile-gallery__item-link moto-link" data-moto-lightbox-link="">
                                                            <img class="moto-widget-tile-gallery__item-image" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-5.jpg" alt="mt-1616-gallery-img-5.jpg" />
                                                        </a>
                                                        <div class="moto-widget-tile-gallery__item-layer">
                                                            <span class="moto-widget-tile-gallery__item-layer-icon fa"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget-tile-gallery__item-wrapper">
                                                    <div class="moto-widget-tile-gallery__item" data-moto-lightbox-item="">
                                                        <a href="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-6bg.jpg" data-action="lightbox" class="moto-widget-tile-gallery__item-link moto-link" data-moto-lightbox-link="">
                                                            <img class="moto-widget-tile-gallery__item-image" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-6.jpg" alt="mt-1616-gallery-img-6.jpg" />
                                                        </a>
                                                        <div class="moto-widget-tile-gallery__item-layer">
                                                            <span class="moto-widget-tile-gallery__item-layer-icon fa"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget-tile-gallery__item-wrapper">
                                                    <div class="moto-widget-tile-gallery__item" data-moto-lightbox-item="">
                                                        <a href="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-7bg.jpg" data-action="lightbox" class="moto-widget-tile-gallery__item-link moto-link" data-moto-lightbox-link="">
                                                            <img class="moto-widget-tile-gallery__item-image" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-7bg.jpg" alt="mt-1616-gallery-img-7bg.jpg" />
                                                        </a>
                                                        <div class="moto-widget-tile-gallery__item-layer">
                                                            <span class="moto-widget-tile-gallery__item-layer-icon fa"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="moto-widget-tile-gallery__item-wrapper">
                                                    <div class="moto-widget-tile-gallery__item" data-moto-lightbox-item="">
                                                        <a href="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-8bg.jpg" data-action="lightbox" class="moto-widget-tile-gallery__item-link moto-link" data-moto-lightbox-link="">
                                                            <img class="moto-widget-tile-gallery__item-image" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-gallery-img-8.jpg" alt="mt-1616-gallery-img-8.jpg" />
                                                        </a>
                                                        <div class="moto-widget-tile-gallery__item-layer">
                                                            <span class="moto-widget-tile-gallery__item-layer-icon fa"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <style type="text/css">
                                                #wid_1541957080_akuqb7nyi .moto-widget-tile-gallery__items-wrapper {
                                                    column-gap: 20px;
                                                    column-count: 3;
                                                }

                                                #wid_1541957080_akuqb7nyi .moto-widget-tile-gallery__item-wrapper {
                                                    padding-bottom: 20px;
                                                }

                                                @@media screen and (max-width: 1039px) {
                                                }

                                                @@media screen and (max-width: 767px) {
                                                    #wid_1541957080_akuqb7nyi .moto-widget-tile-gallery__items-wrapper {
                                                        column-gap: 15px;
                                                        column-count: 2;
                                                    }

                                                    #wid_1541957080_akuqb7nyi .moto-widget-tile-gallery__item-wrapper {
                                                        padding-bottom: 15px;
                                                    }
                                                }

                                                @@media screen and (max-width: 479px) {
                                                }
                                            </style>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div><div class="moto-widget moto-widget-block moto-bg-color5_3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="" data-bg-position="left top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                        <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_system_6" style="text-align: center;">HOOKAH BAR MENU</h2></div>
                    </div>



                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-row moto-bg-color5_5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-home-img-1.jpg" data-id="230" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-home-img-1.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">HOOKAH - $32.99</a></h3></div>
                                                    </div>



                                                    <div data-widget-id="wid_1541977510_ouoi4pw1g" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                        <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                    </div>



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-medium moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asms" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">Al Fakher, Nakhla, Fumari, Vantage by Starbuzz, Tangiers, Starbuzz, Lavoo, Dark Side.</p></div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-row moto-bg-color5_5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-home-img-2.jpg" data-id="231" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-home-img-2.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">FRUIT BOWL&nbsp;-&nbsp;$36.99</a></h3></div>
                                                    </div>



                                                    <div data-widget-id="wid_1541977510_y5onxryae" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                        <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                    </div>



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-medium moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asms" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">Try our fruit bowl hookah with Grapefruit, Orange, Apple, Pineapple, Melon.</p></div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-row moto-bg-color5_5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-home-img-3.jpg" data-id="233" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-home-img-3.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">ART HOOKAH&nbsp;- $49.99</a></h3></div>
                                                    </div>



                                                    <div data-widget-id="wid_1541977510_0clhhp05c" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                        <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                    </div>



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-medium moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asms" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">These all glass hookah are created using only the highest quality of glass.</p></div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-row moto-bg-color5_5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="maaa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-home-img-4.jpg" data-id="232" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-home-img-4.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">HIGH HOOKAH&nbsp;- $79.99</a></h3></div>
                                                    </div>



                                                    <div data-widget-id="wid_1541977510_yt32hmx82" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                        <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                    </div>



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-medium moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asms" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">It has special filters that make the smoking experience completely different.</p></div>
                                                    </div>


                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>



                    <div data-widget-id="wid_1541977510_kai6crz13" class="moto-widget moto-widget-button moto-preset-3 moto-align-center moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="button">
                        <a href="menu/index.html" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">SEE MORE</span></a>
                    </div>


                </div>
            </div>
        </div>
</div><div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="" data-bg-position="center">


<div class="container-fluid">
<div class="row">
<div class="moto-cell col-sm-12" data-container="container">

<div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
    <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_system_6" style="text-align: center;">WHAT CLIENTS SAY</h2><p style="text-align: center;" class="moto-text_normal">339 + Verified Reviews</p></div>
</div><div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


    <div class="container-fluid">
        <div class="row" data-container="container">


            <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">


                <div class="moto-widget moto-widget-row moto-bg-color5_3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                    <div class="container-fluid">
                        <div class="row" data-container="container">


                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="saas" data-animation="">
                                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_6"><span class="moto-color_custom5"><span class="fa"></span></span></p></div>
                                </div><div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aama" style="" data-bg-position="left top">


                                    <div class="container-fluid">
                                        <div class="row" data-container="container">


                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                            </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal"><span class="moto-color3_3">Came here on Saturday night and loved this place! Nice stuff and music cozy atmosphere the best hookah I ever tried in Los Angeles thanks for having us,gonna be back pretty soon</span></p></div>
                                                </div><div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="saaa" style="" data-bg-position="left top">


                                                    <div class="container-fluid">
                                                        <div class="row" data-container="container">


                                                            <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                                                <div data-widget-id="wid_1541959667_jfa2xcshz" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small  " data-widget="image">
                                                                    <span class="moto-widget-image-link">
                                                                        <img data-src="/../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-testimonials-img-1.jpg" class="moto-widget-image-picture lazyload" data-id="235" title="" alt="">
                                                                    </span>
                                                                </div>
                                                            </div><div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9">Kelly Harrison</p><p class="moto-text_system_10">Beverly Hills, Los Angeles, CA</p></div>
                                                                </div>
                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>
                                            </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>


            <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">



                <div class="moto-widget moto-widget-row moto-bg-color5_3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                    <div class="container-fluid">
                        <div class="row" data-container="container">


                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="saas" data-animation="">
                                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_6"><span class="moto-color_custom5"><span class="fa"></span></span></p></div>
                                </div>



                                <div class="moto-widget moto-widget-row row-gutter-0 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aama" style="" data-bg-position="left top">


                                    <div class="container-fluid">
                                        <div class="row" data-container="container">


                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                            </div>



                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-10 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                    <div class="moto-widget-text-content moto-widget-text-editable">

                                                        <p class="moto-text_normal">
                                                            <span class="moto-color3_3">This hookah lounge is by far the best place to go! It doesn't compare to any other place in the area. Good vibe, the staff is amazing always attentive and friendly! The music is always on point!</span>
                                                        </p>
                                                    </div>
                                                </div>



                                                <div class="moto-widget moto-widget-row moto-justify-content_center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="xs" data-widget="row" data-spacing="saaa" style="" data-bg-position="left top">


                                                    <div class="container-fluid">
                                                        <div class="row" data-container="container">


                                                            <div class="moto-widget moto-widget-row__column moto-cell col-xs-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                <div data-widget-id="wid_1541959993_1o7j0wpt8" class="moto-widget moto-widget-image moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small  " data-widget="image">
                                                                    <span class="moto-widget-image-link">
                                                                        <img data-src="/../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-testimonials-img-2.jpg" class="moto-widget-image-picture lazyload" data-id="234" title="" alt="">
                                                                    </span>
                                                                </div>


                                                            </div>



                                                            <div class="moto-widget moto-widget-row__column moto-cell col-xs-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                                <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                    <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9">Sara Dunn</p><p class="moto-text_system_10">Beverly Hills, Los Angeles, CA</p></div>
                                                                </div>


                                                            </div>


                                                        </div>
                                                    </div>
                                                </div>


                                            </div>



                                            <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                            </div>


                                        </div>
                                    </div>
                                </div>


                            </div>


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
