
@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<section id="section-content" class="content page-14 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-block moto-bg-color2_3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-content-bg-1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/11/mt-1616-content-bg-1.jpg" data-bg-position="center">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h1 class="moto-text_system_5">EVENTS</h1></div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div><div class="moto-widget moto-widget-block moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="block" data-spacing="aaaa" style="" data-bg-position="left top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="lala" data-bg-position="left top">


                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="aaas" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_system_6">DJ EVENTS FRIDAY &amp; SATURDAY!</h2></div>
                                    </div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="sams" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9">We aim to shine a new light on Nightlife in the LA through our incredible ambiance and great music!</p><p class="moto-text_normal">&nbsp;</p><p class="moto-text_normal"><span class="moto-color1_3"><span class="fa"></span></span>&nbsp; &nbsp; Monday 20:00 pm, 20 September 2018</p><p class="moto-text_normal">&nbsp;</p><p class="moto-text_normal"><span class="moto-color1_3"><span class="fa"></span></span>&nbsp; &nbsp;6353 Yucca St, Los Angeles, CA 90028, USA</p></div>
                                    </div><div data-widget-id="wid_1542026008_dlz05wgtb" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small " data-widget="button">
                                        <a href="../contact-us/index.html" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">VISIT EVENT</span></a>
                                    </div>
                                </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-events-img-1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="center" data-bg-image="2018/11/mt-1616-events-img-1.jpg/index.html">


                                    <div data-widget-id="wid_1542025839_74ynxycpd" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                                         data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
                                        <div class="moto-widget-spacer-block" style="height:250px"></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div><div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-events-img-2.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="center" data-bg-image="2018/11/mt-1616-events-img-2.jpg/index.html">


                                    <div data-widget-id="wid_1542026117_f9u55otec" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                                         data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
                                        <div class="moto-widget-spacer-block" style="height:250px"></div>
                                    </div>
                                </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="lala" data-bg-position="left top">


                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="aaas" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_system_6">ENJOY OUR WEEKDAY CHILL VIBES!</h2></div>
                                    </div><div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="sams" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9">Enjoy the early evening and late-night gatherings with exceptional hookah experience great for everyone.</p><p class="moto-text_normal">&nbsp;</p><p class="moto-text_normal"><span class="moto-color1_3"><span class="fa"></span></span>&nbsp; &nbsp; Monday 20:00 pm, 20 September 2018</p><p class="moto-text_normal">&nbsp;</p><p class="moto-text_normal"><span class="moto-color1_3"><span class="fa"></span></span>&nbsp; &nbsp;6353 Yucca St, Los Angeles, CA 90028, USA</p></div>
                                    </div><div data-widget-id="wid_1542026185_0onncof3z" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small " data-widget="button">
                                        <a href="../contact-us/index.html" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">VISIT EVENT</span></a>
                                    </div>
                                </div><div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div>


                            </div>
                        </div>
                    </div><div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="lala" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="aaas" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_system_6">EVERYDAY HOOKAH HAPPY HOUR!</h2></div>
                                    </div>



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="sams" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9">Enjoy cool hookah blends of the top quality at a special price. Catch happy hours from 7pm to 10pm.</p><p class="moto-text_normal">&nbsp;</p><p class="moto-text_normal"><span class="moto-color1_3"><span class="fa"></span></span>&nbsp; &nbsp; Monday 20:00 pm, 20 September 2018</p><p class="moto-text_normal">&nbsp;</p><p class="moto-text_normal"><span class="moto-color1_3"><span class="fa"></span></span>&nbsp; &nbsp;6353 Yucca St, Los Angeles, CA 90028, USA</p></div>
                                    </div>



                                    <div data-widget-id="wid_1542026266_zzjniogug" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small " data-widget="button">
                                        <a href="../contact-us/index.html" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">VISIT EVENT</span></a>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-events-img-3.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/11/mt-1616-events-img-3.jpg" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="center">



                                    <div data-widget-id="wid_1542026266_damkcrrw4" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                                         data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
                                        <div class="moto-widget-spacer-block" style="height:250px"></div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div><div class="moto-widget moto-widget-row moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-6 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-events-img-4.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/11/mt-1616-events-img-4.jpg" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="center">



                                    <div data-widget-id="wid_1542026280_fcf3g9zzo" class="moto-widget moto-widget-spacer moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto "
                                         data-widget="spacer" data-preset="default" data-spacing="aaaa" data-visible-on="mobile-v">
                                        <div class="moto-widget-spacer-block" style="height:250px"></div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-1 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="lala" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="aaas" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_system_6">LIVING AND BREATHING&nbsp;<br>THE HOOKAH CULTURE</h2></div>
                                    </div>



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-small" data-widget="text" data-preset="default" data-spacing="sams" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_9">You will experience the emphasis on high quality. We will make you feel like a part of our big family.</p><p class="moto-text_normal">&nbsp;</p><p class="moto-text_normal"><span class="moto-color1_3"><span class="fa"></span></span>&nbsp; &nbsp; Monday 20:00 pm, 20 September 2018</p><p class="moto-text_normal">&nbsp;</p><p class="moto-text_normal"><span class="moto-color1_3"><span class="fa"></span></span>&nbsp; &nbsp;6353 Yucca St, Los Angeles, CA 90028, USA</p></div>
                                    </div>



                                    <div data-widget-id="wid_1542026280_cgxla4j62" class="moto-widget moto-widget-button moto-preset-default moto-align-left moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-small " data-widget="button">
                                        <a href="../contact-us/index.html" data-action="page" class="moto-widget-button-link moto-size-medium moto-link"><span class="fa moto-widget-theme-icon"></span> <span class="moto-widget-button-label">VISIT EVENT</span></a>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-2 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

