
@{
    ViewBag.Title = "HookahBarDrinks";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
}

<section id="section-content" class="content page-12 moto-section" data-widget="section" data-container="section">
    <div class="moto-widget moto-widget-block moto-bg-color2_3 moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="background-image:url(../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-content-bg-1.jpg);background-position:center;background-repeat:no-repeat;background-size:cover;" data-bg-image="2018/11/mt-1616-content-bg-1.jpg" data-bg-position="center">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h1 class="moto-text_system_5">HOOKAH BAR &amp; DRINKS</h1></div>
                                    </div>


                                </div>


                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div><div class="moto-widget moto-widget-block moto-spacing-top-large moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="lala" style="" data-bg-position="left top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                    <div data-widget-id="wid_1542018366_6r4cg1jro" class="moto-widget moto-widget-tabs  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto   moto-preset-default moto-widget-tabs_type-horizontal moto-disabling_row-fixed set-row-gutter-0" data-widget="tabs" data-preset="default">
                                        <div class="moto-widget-tabs__wrapper">
                                            <div class="moto-widget-tabs__headers-wrapper moto-widget-tabs__headers-wrapper_icon-left moto-widget-tabs__headers-wrapper_headers-left" style="width: auto;">
                                                <div class="moto-widget-tabs__header moto-widget-tabs__header_desktop moto-widget-tabs__header_opened" data-tab="wid_1542018371_x3t8p5hy7">
                                                    <div class="moto-widget-tabs__header-item moto-widget-tabs__header-title">HOOKAH BAR</div>
                                                </div>
                                                <div class="moto-widget-tabs__header moto-widget-tabs__header_desktop" data-tab="wid_1542019468_95icnmatc">
                                                    <div class="moto-widget-tabs__header-item moto-widget-tabs__header-title">DRINKS MENU</div>
                                                </div>
                                            </div>
                                            <div class="moto-widget-tabs__items-wrapper">
                                                <div id="wid_1542018371_x3t8p5hy7" data-widget-id="wid_1542018371_x3t8p5hy7" class="moto-widget moto-widget-tabs__item" data-widget="tabs.item">
                                                    <div class="moto-widget-tabs__header moto-widget-tabs__header_mobile moto-widget-tabs__header_opened" data-tab="wid_1542018371_x3t8p5hy7">
                                                        <div class="moto-widget-tabs__header-item moto-widget-tabs__header-title">HOOKAH BAR</div>
                                                    </div>
                                                    <div class="moto-widget-tabs__content-wrapper" style="display: block;">
                                                        <div class="moto-widget-tabs__content">
                                                            <div data-widget-id="wid_1542018213_wsv0741q2" class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="background-position:left top;">
                                                                <div class="container-fluid">
                                                                    <div class="row" data-container="container">
                                                                        <div data-widget-id="wid_1542018213_9pxw8d264" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542018213_shqo5j1ej" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-home-img-1.jpg" data-id="230" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-home-img-1.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">HOOKAH - $32.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1541976219_wwn94vmsz" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542018213_n9sfp0204" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">Al Fakher, Nakhla, Fumari, Vantage by Starbuzz, Tangiers, Starbuzz, Lavoo, Dark Side.</p></div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-widget-id="wid_1542018213_pfhflte0t" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542018213_fisvv1v7f" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-home-img-2.jpg" data-id="231" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-home-img-2.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">FRUIT BOWL&nbsp;-&nbsp;$36.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1541976219_dwp07ypvp" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542018213_r60vhvjcq" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">Try our fruit bowl hookah with Grapefruit, Orange, Apple, Pineapple, Melon.</p></div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-widget-id="wid_1542018213_8c0zdjz2l" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542018213_bd6dq2m0l" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-home-img-3.jpg" data-id="233" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-home-img-3.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">ART HOOKAH&nbsp;- $49.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1541976219_azbo015rw" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542018213_vy1j0cx6i" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">These all glass hookah are created using only the highest quality of glass.</p></div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-widget-id="wid_1542018213_50ob46qiu" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542018213_ay5hxybg0" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-home-img-4.jpg" data-id="232" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-home-img-4.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">HIGH HOOKAH&nbsp;- $79.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1541976219_wqfqk6tvv" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542018213_r732q7xr6" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">It has special filters that make the smoking experience completely different.</p></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div data-widget-id="wid_1542018213_vxv5fjpqs" class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="background-position:left top;">
                                                                <div class="container-fluid">
                                                                    <div class="row" data-container="container">
                                                                        <div data-widget-id="wid_1542018213_htavdkp1u" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542018213_4y9dqdy0a" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-hookah-_bar-img-1.jpg" data-id="248" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-hookah-_bar-img-1.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">MINT-TASTIC - $32.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1541976244_rtxtr94h9" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542018213_dsy38j3tz" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">Try our gum-mint hookah with chocolate, ice cream, chocolate shake, cream.</p></div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-widget-id="wid_1542018213_o4kcozpi7" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542018213_14pw8isrd" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-hookah-_bar-img-2.jpg" data-id="249" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-hookah-_bar-img-2.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">VANILLA HOOKAH - $36.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1541976244_jydbej8k0" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542018213_c04b7b9qq" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">Try our premium vanilla hookah with peach, pomegranate, strawberry, cream.</p></div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-widget-id="wid_1542018213_1k0bwao30" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542018213_a12ldu9pl" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-hookah-_bar-img-3.jpg" data-id="250" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-hookah-_bar-img-3.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">BLUEBERRY CAKE - $49.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1541976244_f4j3e1htq" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542018213_xzurnrjjt" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">Premium blueberry hookah with vanilla cake, gum-mint, chocolate, cream.</p></div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-widget-id="wid_1542018213_dgajsy2w9" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542018213_28acp5ugx" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-hookah-_bar-img-4.jpg" data-id="251" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-hookah-_bar-img-4.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">TASTY FRUIT COCKTAIL - $79.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1541976244_emo4cbkdb" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542018213_vx1ds5h19" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">It has a special fruit flavor that makes the experience completely different.</p></div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="wid_1542019468_95icnmatc" data-widget-id="wid_1542019468_95icnmatc" class="moto-widget moto-widget-tabs__item" data-widget="tabs.item">
                                                    <div class="moto-widget-tabs__header moto-widget-tabs__header_mobile" data-tab="wid_1542019468_95icnmatc">
                                                        <div class="moto-widget-tabs__header-item moto-widget-tabs__header-title">DRINKS MENU</div>
                                                    </div>
                                                    <div class="moto-widget-tabs__content-wrapper" style="display: none;">
                                                        <div class="moto-widget-tabs__content">
                                                            <div data-widget-id="wid_1542019468_g7ifp62dw" class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="background-position:left top;">
                                                                <div class="container-fluid">
                                                                    <div class="row" data-container="container">
                                                                        <div data-widget-id="wid_1542019468_eszmjdgnu" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542019468_zo1aj0y19" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-home-img-3.jpg" data-id="233" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-home-img-3.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">ART HOOKAH&nbsp;- $49.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1542019468_14h69of87" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542019468_h85clxbpf" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">These all glass hookah are created using only the highest quality of glass.</p></div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-widget-id="wid_1542019468_e6jahdq7v" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                            <div data-widget-id="wid_1542019468_056sxlr70" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto " data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-hookah-_bar-img-4.jpg" data-id="251" alt="" width="232" height="202" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-hookah-_bar-img-4.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">TASTY FRUIT COCKTAIL - $79.99</a></h3></div>
                                                                            </div>
                                                                            <div data-widget-id="wid_1542019468_t41q8zt4d" class="moto-widget moto-widget-divider moto-preset-default moto-align-center moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                                                                <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                                                            </div>
                                                                            <div data-widget-id="wid_1542019468_xv6htnr5y" class="moto-widget moto-widget-text moto-preset-default  moto-spacing-top-auto moto-spacing-right-small moto-spacing-bottom-auto moto-spacing-left-small " data-widget="text" data-preset="default" data-spacing="asas" data-animation="">
                                                                                <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_10" style="text-align: center;">It has a special fruit flavor that makes the experience completely different.</p></div>
                                                                            </div>
                                                                        </div>
                                                                        <div data-widget-id="wid_1542019468_9fi3xkps8" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                        </div>
                                                                        <div data-widget-id="wid_1542019468_iy5xf5pss" class="moto-widget moto-widget-row__column moto-cell  col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="background-position:left top;" data-widget="row.column" data-container="container" data-spacing="maaa">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>










                </div>
            </div>
        </div>
    </div>
    <div class="moto-widget moto-widget-block moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-large moto-spacing-left-auto" data-widget="block" data-spacing="mala" style="" data-bg-position="left top">


        <div class="container-fluid">
            <div class="row">
                <div class="moto-cell col-sm-12" data-container="container">


                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-medium moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aama" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-9 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><h2 class="moto-text_system_6">DRINKS MENU</h2></div>
                                    </div>



                                    <div data-widget-id="wid_1541977733_z36s8p0rn" class="moto-widget moto-widget-divider moto-preset-default moto-align-left moto-spacing-top-small moto-spacing-right-auto moto-spacing-bottom-small moto-spacing-left-auto  " data-widget="divider_horizontal" data-preset="default">
                                        <hr class="moto-widget-divider-line" style="max-width:100%;width:80px;">
                                    </div>



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_normal">We are constantly trying to offer our patrons and new customers an assortment of ever-changing drinks to enjoy. Our hookah bar &amp; lounge allows you to find the right place to chill on weeknights.</p></div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">


                                </div>


                            </div>
                        </div>
                    </div>



                    <div class="moto-widget moto-widget-row row-fixed moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                        <div class="container-fluid">
                            <div class="row" data-container="container">


                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-row moto-bg-color5_5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-hookah-_bar-img-5.jpg" data-id="252" alt="" width="280" height="374" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-hookah-_bar-img-5.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">COSMO - $35.95</a></h3></div>
                                                    </div>










                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-row moto-bg-color5_5 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-grid-type="sm" data-widget="row" data-spacing="aaaa" style="" data-bg-position="left top">


                                        <div class="container-fluid">
                                            <div class="row" data-container="container">


                                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-12 moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="aaaa" data-bg-position="left top">



                                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-hookah-_bar-img-6.jpg" data-id="253" alt="" width="280" height="374" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-hookah-_bar-img-6.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a href="#" target="_self" data-action="url" class="moto-link">MOHITO&nbsp;-&nbsp;$30.50</a></h3></div>
                                                    </div>










                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">



                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-hookah-_bar-img-7.jpg" data-id="254" alt="" width="280" height="374" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-hookah-_bar-img-7.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">WINE&nbsp;- $21.6</a>0</h3></div>
                                    </div>


                                </div>



                                <div class="moto-widget moto-widget-row__column moto-cell col-sm-3 moto-spacing-top-medium moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" style="" data-widget="row.column" data-container="container" data-spacing="maaa" data-bg-position="left top">














                                    <div class="moto-widget moto-widget-text moto-preset-default moto-spacing-top-auto moto-spacing-right-auto moto-spacing-bottom-auto moto-spacing-left-auto" data-widget="text" data-preset="default" data-spacing="aaaa" data-animation="">
                                        <div class="moto-widget-text-content moto-widget-text-editable"><p class="moto-text_system_7" style="text-align: center;"><span class="moto-content-image-plugin-wrapper moto-spacing-top-zero moto-spacing-right-zero moto-spacing-bottom-small moto-spacing-left-zero"><span class="moto-content-image-container"><img class="moto-content-image" data-path="2018/11/mt-1616-hookah-_bar-img-8.jpg" data-id="255" alt="" width="280" height="374" src="../../Content/mt-demo/74300/74314/mt-content/uploads/2018/11/mt-1616-hookah-_bar-img-8.jpg"></span></span></p><h3 class="moto-text_system_7" style="text-align: center;"><a target="_self" data-action="url" class="moto-link" href="#">LIQUOR&nbsp;- $28.3</a>0</h3></div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>
    </div>
</section>

